FLASK_APP=api.app_ofertas
FLASK_ENV=development
APP_PORT=3009
SECRET_KEY=change-me
SESSION_COOKIE_NAME=ofertas_session
DB_SERVER=EMEBIDWH
DB_DATABASE=Digitalizacion
DB_USER=sa
DB_PASSWORD=
DB_DRIVER=ODBC Driver 18 for SQL Server
