USE [DataLakeSCCZ]
GO
/****** Object:  Table [SGA].[Nave]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Nave](
    [ID_Nave] [int] NOT NULL,
    [Descripcion_Nave] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Nave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Tipos_Contenedor]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Tipos_Contenedor](
    [ID_tipo_contenedor] [int] NOT NULL,
    [Descripcion] [varchar](50) NOT NULL,
    [largo_mm] [decimal](18, 2) NULL,
    [ancho_mm] [decimal](18, 2) NULL,
    [alto_mm] [decimal](18, 2) NULL,
    [peso_maximo_kg] [decimal](18, 2) NULL,
    [Multi_Referencia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_tipo_contenedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Productos]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Productos](
    [ID_producto] [int] IDENTITY(1,1) NOT NULL,
    [Codigo_Producto] [nvarchar](100) NULL,
    [Descripcion] [nvarchar](255) NULL,
    [Material] [nvarchar](100) NULL,
    [largo_mm] [int] NULL,
    [ancho_mm] [int] NULL,
    [espesor_mm] [int] NULL,
    [peso_unitario_kg] [float] NULL,
    [Sensibilidad] [nvarchar](50) NULL,
    [STOCKACTUAL] [int] NULL,
    [UD] [nvarchar](10) NULL,
    [Ubicacion_Fija] [int] NULL,
    [Vida_util] [int] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Productos_2_UbFijas]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Productos_2_UbFijas](
    [ID_producto] [int] IDENTITY(1,1) NOT NULL,
    [Codigo_Producto] [nvarchar](100) NULL,
    [Descripcion] [nvarchar](255) NULL,
    [Material] [nvarchar](100) NULL,
    [largo_mm] [int] NULL,
    [ancho_mm] [int] NULL,
    [espesor_mm] [int] NULL,
    [peso_unitario_kg] [float] NULL,
    [Sensibilidad] [nvarchar](50) NULL,
    [STOCKACTUAL] [int] NULL,
    [UD] [nvarchar](10) NULL,
    [Ubicacion_Fija] [varchar](max) NULL,
    [Vida_util] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SGA].[MenuSecciones]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[MenuSecciones](
    [SeccionID] [int] IDENTITY(1,1) NOT NULL,
    [Nombre] [nvarchar](100) NOT NULL,
    [NombreCarpeta] [nvarchar](100) NOT NULL,
    [Icono] [nvarchar](50) NOT NULL,
    [Orden] [int] NOT NULL,
    [Color] [nvarchar](20) NULL,
    [Activo] [bit] NOT NULL,
    [FechaCreacion] [datetime] NOT NULL,
    [FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [SeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGA_MenuSecciones_Nombre] UNIQUE NONCLUSTERED 
(
    [Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGA_MenuSecciones_NombreCarpeta] UNIQUE NONCLUSTERED 
(
    [NombreCarpeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Pantallas]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Pantallas](
    [PantallaID] [int] IDENTITY(1,1) NOT NULL,
    [Nombre] [nvarchar](200) NOT NULL,
    [NombreArchivo] [nvarchar](200) NOT NULL,
    [RutaCompleta] [nvarchar](500) NOT NULL,
    [Icono] [nvarchar](50) NOT NULL,
    [Descripcion] [nvarchar](500) NULL,
    [Orden] [int] NOT NULL,
    [Activo] [bit] NOT NULL,
    [AutoDetectada] [bit] NOT NULL,
    [FechaCreacion] [datetime] NOT NULL,
    [FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [PantallaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGA_Pantallas_RutaCompleta] UNIQUE NONCLUSTERED 
(
    [RutaCompleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[PlantillasExportacionInventario]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[PlantillasExportacionInventario](
    [ID_Plantilla] [int] IDENTITY(1,1) NOT NULL,
    [Nombre] [nvarchar](100) NOT NULL,
    [Columnas] [nvarchar](max) NOT NULL,
    [Fecha_Creacion] [datetime] NULL,
    [Fecha_Actualizacion] [datetime] NULL,
    [Activa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Plantilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
    [Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Almacen]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Almacen](
    [Id_Almacen] [int] NOT NULL,
    [Descripcion_Almacen] [varchar](25) NOT NULL,
    [ID_Nave] [int] NOT NULL,
    [Tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
    [Id_Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Contenedor_Historico]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Contenedor_Historico](
    [ID_Contenedor] [int] NOT NULL,
    [Peso_kg] [decimal](18, 2) NULL,
    [ID_tipo_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NULL,
    [Obsoleto] [bit] NOT NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [SysStartTime] [datetime2](7) NOT NULL,
    [SysEndTime] [datetime2](7) NOT NULL,
    [Descripcion_contenedor] [varchar](500) NULL,
    [Observacion_contenedor] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Contenedor]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Contenedor](
    [ID_Contenedor] [int] NOT NULL,
    [Peso_kg] [decimal](18, 2) NULL,
    [ID_tipo_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NULL,
    [Obsoleto] [bit] NOT NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
    [SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
    [Descripcion_contenedor] [varchar](500) NULL,
    [Observacion_contenedor] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Contenedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [SGA].[Contenedor_Historico])
)
GO
/****** Object:  Table [SGA].[Paquete_Historico]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Paquete_Historico](
    [ID_contenedor] [int] NULL,
    [ID_producto] [int] NOT NULL,
    [Cantidad_producto] [int] NOT NULL,
    [Peso_Kg] [decimal](18, 2) NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [Lote_Proveedor] [varchar](50) NULL,
    [Obsoleto] [bit] NOT NULL,
    [SysStartTime] [datetime2](7) NOT NULL,
    [SysEndTime] [datetime2](7) NOT NULL,
    [ID_paquete] [int] NOT NULL,
    [Descripcion_paquete] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Paquete]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Paquete](
    [ID_contenedor] [int] NULL,
    [ID_producto] [int] NOT NULL,
    [Cantidad_producto] [int] NOT NULL,
    [Peso_Kg] [decimal](18, 2) NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [Lote_Proveedor] [varchar](50) NULL,
    [Obsoleto] [bit] NOT NULL,
    [SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
    [SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
    [ID_paquete] [int] IDENTITY(1,1) NOT NULL,
    [Descripcion_paquete] [varchar](500) NULL,
 CONSTRAINT [PK_SGA_Paquete] PRIMARY KEY CLUSTERED 
(
    [ID_paquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [SGA].[Paquete_Historico])
)
GO
/****** Object:  Table [SGA].[ANDON_Historico]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[ANDON_Historico](
    [ID_movimiento] [int] NOT NULL,
    [Tipo_movimiento] [varchar](10) NOT NULL,
    [ID_producto] [varchar](25) NOT NULL,
    [cantidad_movida] [int] NOT NULL,
    [ID_almacen_origen] [int] NULL,
    [ID_almacen_destino] [int] NULL,
    [ID_ubicacion_origen] [int] NULL,
    [ID_ubicacion_destino] [int] NULL,
    [ID_usuario_creacion] [int] NOT NULL,
    [ID_usuario_finalizacion] [int] NULL,
    [fecha_inicio_tarea] [datetime2](0) NOT NULL,
    [fecha_fin_tarea] [datetime2](0) NULL,
    [estado_movimiento] [varchar](15) NOT NULL,
    [SysStartTime] [datetime2](7) NOT NULL,
    [SysEndTime] [datetime2](7) NOT NULL,
    [fecha_fin_teorica] [datetime2](0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[ANDON]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[ANDON](
    [ID_movimiento] [int] IDENTITY(1,1) NOT NULL,
    [Tipo_movimiento] [varchar](10) NOT NULL,
    [ID_producto] [varchar](25) NOT NULL,
    [cantidad_movida] [int] NOT NULL,
    [ID_almacen_origen] [int] NULL,
    [ID_almacen_destino] [int] NULL,
    [ID_ubicacion_origen] [int] NULL,
    [ID_ubicacion_destino] [int] NULL,
    [ID_usuario_creacion] [int] NOT NULL,
    [ID_usuario_finalizacion] [int] NULL,
    [fecha_inicio_tarea] [datetime2](0) NOT NULL,
    [fecha_fin_tarea] [datetime2](0) NULL,
    [estado_movimiento] [varchar](15) NOT NULL,
    [SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
    [SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
    [fecha_fin_teorica] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [SGA].[ANDON_Historico])
)
GO
/****** Object:  Table [SGA].[Ajustes]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Ajustes](
    [ID_ajuste] [int] IDENTITY(1,1) NOT NULL,
    [ID_Producto] [int] NOT NULL,
    [ID_Paquete] [int] NULL,
    [cantidad_ajustada] [decimal](18, 4) NOT NULL,
    [ID_Usuario] [int] NOT NULL,
    [Fecha] [datetime2](3) NOT NULL,
    [Descripcion_Ajuste] [nvarchar](500) NOT NULL,
    [Observacion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_ajuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[InventarioSGA]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[InventarioSGA](
    [ID_Inventario] [int] IDENTITY(1,1) NOT NULL,
    [FechaInventario] [datetime2](7) NOT NULL,
    [DescripcionInventario] [nvarchar](255) NULL,
    [Responsable] [nvarchar](200) NOT NULL,
    [NumOperario] [int] NOT NULL,
    [Contenedor] [int] NOT NULL,
    [Paquete] [int] NOT NULL,
    [Descripcion] [nvarchar](500) NULL,
    [Lote] [nvarchar](50) NULL,
    [CantidadAntigua] [int] NULL,
    [CantidadIntroducida] [int] NULL,
    [CantidadFinal] [int] NOT NULL,
    [Ubicacion] [int] NULL,
    [Almacen] [nvarchar](50) NOT NULL,
    [FechaRegistro] [datetime2](7) NOT NULL,
    [Cerrado] [bit] NOT NULL,
    [ID_UsuarioRegistro] [int] NULL,
    [Talonario] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Justificacion_Tiempos]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Justificacion_Tiempos](
    [ID_Justificacion] [int] IDENTITY(1,1) NOT NULL,
    [ID_Captura] [int] NOT NULL,
    [Programa] [nvarchar](50) NULL,
    [Tipo_Evento] [nvarchar](20) NULL,
    [Fecha_Hora] [datetime] NULL,
    [ID_ubicacion] [int] NULL,
    [Maquina_corte] [nvarchar](100) NULL,
    [Codigo_a_consumir] [nvarchar](50) NULL,
    [Estado] [nvarchar](255) NULL,
    [TiempoCNC_Minutos] [decimal](10, 2) NULL,
    [Maquina_Original] [nvarchar](100) NULL,
    [Tiempo_Real_Minutos] [decimal](10, 2) NULL,
    [Rendimiento] [decimal](10, 4) NULL,
    [Paro_minutos] [decimal](10, 2) NULL,
    [Comentario_CNC] [nvarchar](max) NULL,
    [Comentario_Paro] [nvarchar](max) NULL,
    [ID_Usuario_Registro] [int] NULL,
    [Fecha_Registro] [datetime] NULL,
    [ID_Usuario_Modificacion] [int] NULL,
    [Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Justificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Paletizaciones]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Paletizaciones](
    [ID_paletizacion] [int] IDENTITY(1,1) NOT NULL,
    [ID_contenedor] [int] NOT NULL,
    [ID_ubicacion_origen] [int] NOT NULL,
    [Descripcion_origen] [nvarchar](255) NULL,
    [ID_ubicacion_destino] [int] NULL,
    [Descripcion_destino] [nvarchar](255) NULL,
    [Fecha_paletizacion] [datetime] NULL,
    [ID_usuario] [int] NULL,
    [ID_Paquete] [int] NULL,
    [ID_Producto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_paletizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[PantallasSecciones]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[PantallasSecciones](
    [PantallaSeccionID] [int] IDENTITY(1,1) NOT NULL,
    [PantallaID] [int] NOT NULL,
    [SeccionID] [int] NOT NULL,
    [Orden] [int] NOT NULL,
    [Visible] [bit] NOT NULL,
    [FechaAsignacion] [datetime] NOT NULL,
    [NombrePersonalizado] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
    [PantallaSeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGA_PantallasSecciones] UNIQUE NONCLUSTERED 
(
    [PantallaID] ASC,
    [SeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Trabajos_Preparacion]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion](
    [ID_trabajo] [int] IDENTITY(1,1) NOT NULL,
    [Fecha_maxima] [date] NOT NULL,
    [Descripcion] [nvarchar](500) NOT NULL,
    [Estado] [int] NOT NULL,
    [ID_usuario_creacion] [int] NULL,
    [Fecha_creacion] [datetime] NULL,
    [Fecha_actualizacion] [datetime] NULL,
    [Id_Secuenciador] [int] NULL,
    [Tipo] [varchar](20) NULL,
    [Nombre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Trabajos_Preparacion_Lineas]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion_Lineas](
    [ID_linea] [int] IDENTITY(1,1) NOT NULL,
    [ID_trabajo] [int] NOT NULL,
    [Codigo_Producto] [nvarchar](50) NOT NULL,
    [Descripcion_Producto] [nvarchar](500) NULL,
    [Cantidad_requerida] [int] NOT NULL,
    [Ubicaciones_Fijas] [nvarchar](500) NULL,
    [Estado] [int] NOT NULL,
    [Fecha_creacion] [datetime] NULL,
    [Cantidad_consumida] [int] NOT NULL,
    [Fecha_confirmacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Trabajos_Preparacion_Auditoria]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion_Auditoria](
    [ID_auditoria] [int] IDENTITY(1,1) NOT NULL,
    [ID_linea] [int] NOT NULL,
    [ID_trabajo] [int] NOT NULL,
    [ID_paquete] [int] NOT NULL,
    [ID_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NOT NULL,
    [Codigo_ubicacion] [nvarchar](50) NULL,
    [Cantidad_contenedor] [int] NULL,
    [Cantidad_confirmada] [int] NOT NULL,
    [Contenedor_eliminado] [bit] NULL,
    [ID_usuario_confirmacion] [int] NULL,
    [Nombre_usuario_confirmacion] [nvarchar](100) NULL,
    [Fecha_confirmacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Trabajos_Preparacion_Consumos]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion_Consumos](
    [ID_consumo] [int] IDENTITY(1,1) NOT NULL,
    [ID_linea] [int] NOT NULL,
    [ID_trabajo] [int] NOT NULL,
    [ID_paquete] [int] NOT NULL,
    [ID_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NOT NULL,
    [Codigo_ubicacion] [nvarchar](50) NULL,
    [Cantidad_paquete_original] [int] NOT NULL,
    [Cantidad_consumida] [int] NOT NULL,
    [Cantidad_paquete_restante] [int] NOT NULL,
    [Paquete_eliminado] [bit] NOT NULL,
    [Contenedor_eliminado] [bit] NOT NULL,
    [ID_usuario_confirmacion] [int] NULL,
    [Nombre_usuario_confirmacion] [nvarchar](100) NULL,
    [Fecha_confirmacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_consumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SGA].[Umbrales_Eficiencia]    Script Date: 08/01/2026 10:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Umbrales_Eficiencia](
    [ID_Umbral] [int] IDENTITY(1,1) NOT NULL,
    [ID_Ubicacion] [int] NULL,
    [Tipo_Indicador] [nvarchar](50) NOT NULL,
    [Umbral_Rojo_Min] [decimal](5, 2) NULL,
    [Umbral_Rojo_Max] [decimal](5, 2) NOT NULL,
    [Umbral_Amarillo_Max] [decimal](5, 2) NOT NULL,
    [Fecha_Creacion] [datetime] NULL,
    [Fecha_Modificacion] [datetime] NULL,
    [Usuario_Modificacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Umbral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Umbral_Ubicacion_Tipo] UNIQUE NONCLUSTERED 
(
    [ID_Ubicacion] ASC,
    [Tipo_Indicador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SGA].[Ajustes] ADD  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [SGA].[Contenedor] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Contenedor] ADD  DEFAULT (sysutcdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [SGA].[Contenedor] ADD  DEFAULT (CONVERT([datetime2],'9999-12-31 23:59:59.9999999')) FOR [SysEndTime]
GO
ALTER TABLE [SGA].[InventarioSGA] ADD  DEFAULT ('EMESA') FOR [Almacen]
GO
ALTER TABLE [SGA].[InventarioSGA] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [SGA].[InventarioSGA] ADD  DEFAULT ((0)) FOR [Cerrado]
GO
ALTER TABLE [SGA].[Justificacion_Tiempos] ADD  DEFAULT (getdate()) FOR [Fecha_Registro]
GO
ALTER TABLE [SGA].[MenuSecciones] ADD  DEFAULT ('fa-folder') FOR [Icono]
GO
ALTER TABLE [SGA].[MenuSecciones] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [SGA].[MenuSecciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [SGA].[MenuSecciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [SGA].[Paletizaciones] ADD  DEFAULT (getdate()) FOR [Fecha_paletizacion]
GO
ALTER TABLE [SGA].[Pantallas] ADD  DEFAULT ('fa-file') FOR [Icono]
GO
ALTER TABLE [SGA].[Pantallas] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [SGA].[Pantallas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [SGA].[Pantallas] ADD  DEFAULT ((0)) FOR [AutoDetectada]
GO
ALTER TABLE [SGA].[Pantallas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [SGA].[PantallasSecciones] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [SGA].[PantallasSecciones] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [SGA].[PantallasSecciones] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [SGA].[Paquete] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Paquete] ADD  CONSTRAINT [DF_Paquete_SysStartTime]  DEFAULT (sysutcdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [SGA].[Paquete] ADD  CONSTRAINT [DF_Paquete_SysEndTime]  DEFAULT (CONVERT([datetime2](7),'9999-12-31 23:59:59.9999999')) FOR [SysEndTime]
GO
ALTER TABLE [SGA].[PlantillasExportacionInventario] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SGA].[PlantillasExportacionInventario] ADD  DEFAULT (getdate()) FOR [Fecha_Actualizacion]
GO
ALTER TABLE [SGA].[PlantillasExportacionInventario] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT (getdate()) FOR [Fecha_actualizacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT ('MANUAL') FOR [Tipo]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] ADD  DEFAULT ((0)) FOR [Contenedor_eliminado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha_confirmacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] ADD  DEFAULT ((0)) FOR [Paquete_eliminado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] ADD  DEFAULT ((0)) FOR [Contenedor_eliminado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] ADD  DEFAULT (getdate()) FOR [Fecha_confirmacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] ADD  DEFAULT ((0)) FOR [Cantidad_consumida]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] ADD  DEFAULT ((0)) FOR [Umbral_Rojo_Min]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] ADD  DEFAULT (getdate()) FOR [Fecha_Modificacion]
GO
ALTER TABLE [SGA].[Almacen]  WITH CHECK ADD  CONSTRAINT [FK_Almacen_Nave] FOREIGN KEY([ID_Nave])
REFERENCES [SGA].[Nave] ([ID_Nave])
GO
ALTER TABLE [SGA].[Almacen] CHECK CONSTRAINT [FK_Almacen_Nave]
GO
ALTER TABLE [SGA].[Contenedor]  WITH CHECK ADD  CONSTRAINT [FK_Contenedor_Tipos_Contenedor] FOREIGN KEY([ID_tipo_contenedor])
REFERENCES [SGA].[Tipos_Contenedor] ([ID_tipo_contenedor])
GO
ALTER TABLE [SGA].[Contenedor] CHECK CONSTRAINT [FK_Contenedor_Tipos_Contenedor]
GO
ALTER TABLE [SGA].[Contenedor]  WITH CHECK ADD  CONSTRAINT [FK_Contenedor_Ubicacion] FOREIGN KEY([ID_ubicacion])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO
ALTER TABLE [SGA].[Contenedor] CHECK CONSTRAINT [FK_Contenedor_Ubicacion]
GO
ALTER TABLE [SGA].[Contenedor]  WITH CHECK ADD  CONSTRAINT [FK_Contenedor_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [SGA].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [SGA].[Contenedor] CHECK CONSTRAINT [FK_Contenedor_Usuario]
GO
ALTER TABLE [SGA].[Paletizaciones]  WITH CHECK ADD FOREIGN KEY([ID_contenedor])
REFERENCES [SGA].[Contenedor] ([ID_Contenedor])
GO
ALTER TABLE [SGA].[Paletizaciones]  WITH CHECK ADD FOREIGN KEY([ID_ubicacion_origen])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO
ALTER TABLE [SGA].[Paletizaciones]  WITH CHECK ADD FOREIGN KEY([ID_ubicacion_destino])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO
ALTER TABLE [SGA].[PantallasSecciones]  WITH CHECK ADD  CONSTRAINT [FK_SGA_PantallasSecciones_Pantallas] FOREIGN KEY([PantallaID])
REFERENCES [SGA].[Pantallas] ([PantallaID])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[PantallasSecciones] CHECK CONSTRAINT [FK_SGA_PantallasSecciones_Pantallas]
GO
ALTER TABLE [SGA].[PantallasSecciones]  WITH CHECK ADD  CONSTRAINT [FK_SGA_PantallasSecciones_Secciones] FOREIGN KEY([SeccionID])
REFERENCES [SGA].[MenuSecciones] ([SeccionID])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[PantallasSecciones] CHECK CONSTRAINT [FK_SGA_PantallasSecciones_Secciones]
GO
ALTER TABLE [SGA].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Contenedor] FOREIGN KEY([ID_contenedor])
REFERENCES [SGA].[Contenedor] ([ID_Contenedor])
GO
ALTER TABLE [SGA].[Paquete] CHECK CONSTRAINT [FK_Paquete_Contenedor]
GO
ALTER TABLE [SGA].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Producto] FOREIGN KEY([ID_producto])
REFERENCES [SGA].[Productos] ([ID_producto])
GO
ALTER TABLE [SGA].[Paquete] CHECK CONSTRAINT [FK_Paquete_Producto]
GO
ALTER TABLE [SGA].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [SGA].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [SGA].[Paquete] CHECK CONSTRAINT [FK_Paquete_Usuario]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion]  WITH CHECK ADD  CONSTRAINT [FK_TrabajosPrep_Usuarios] FOREIGN KEY([ID_usuario_creacion])
REFERENCES [General].[Usuarios] ([Id_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] CHECK CONSTRAINT [FK_TrabajosPrep_Usuarios]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Linea] FOREIGN KEY([ID_linea])
REFERENCES [SGA].[Trabajos_Preparacion_Lineas] ([ID_linea])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] CHECK CONSTRAINT [FK_Auditoria_Linea]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Trabajo] FOREIGN KEY([ID_trabajo])
REFERENCES [SGA].[Trabajos_Preparacion] ([ID_trabajo])
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] CHECK CONSTRAINT [FK_Auditoria_Trabajo]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Linea] FOREIGN KEY([ID_linea])
REFERENCES [SGA].[Trabajos_Preparacion_Lineas] ([ID_linea])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] CHECK CONSTRAINT [FK_Consumos_Linea]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Trabajo] FOREIGN KEY([ID_trabajo])
REFERENCES [SGA].[Trabajos_Preparacion] ([ID_trabajo])
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] CHECK CONSTRAINT [FK_Consumos_Trabajo]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas]  WITH CHECK ADD  CONSTRAINT [FK_LineasPrep_Trabajo] FOREIGN KEY([ID_trabajo])
REFERENCES [SGA].[Trabajos_Preparacion] ([ID_trabajo])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] CHECK CONSTRAINT [FK_LineasPrep_Trabajo]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia]  WITH CHECK ADD  CONSTRAINT [FK_Umbrales_Ubicacion] FOREIGN KEY([ID_Ubicacion])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] CHECK CONSTRAINT [FK_Umbrales_Ubicacion]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia]  WITH CHECK ADD  CONSTRAINT [FK_Umbrales_Usuario] FOREIGN KEY([Usuario_Modificacion])
REFERENCES [SGA].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] CHECK CONSTRAINT [FK_Umbrales_Usuario]
GO
ALTER TABLE [SGA].[Almacen]  WITH CHECK ADD  CONSTRAINT [CHK_Almacen_Tipo] CHECK  (([Tipo]='General' OR [Tipo]='Chapa'))
GO
ALTER TABLE [SGA].[Almacen] CHECK CONSTRAINT [CHK_Almacen_Tipo]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Justificación o comentario sobre la eficiencia del CNC (por qué fue rápido/lento)' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Justificacion_Tiempos', @level2type=N'COLUMN',@level2name=N'Comentario_CNC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Justificación o comentario sobre el tiempo de paro (preparación, cambio de chapa, etc.)' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Justificacion_Tiempos', @level2type=N'COLUMN',@level2name=N'Comentario_Paro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla para almacenar justificaciones y comentarios sobre eficiencias de CNCs y tiempos de paro' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Justificacion_Tiempos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NULL = configuración global, ID específico = configuración por ubicación' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Umbrales_Eficiencia', @level2type=N'COLUMN',@level2name=N'ID_Ubicacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tipo de indicador: disponibilidad, rendimiento, eficiencia' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Umbrales_Eficiencia', @level2type=N'COLUMN',@level2name=N'Tipo_Indicador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor máximo para mostrar rojo (0-1, ej: 0.65 = 65%)' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Umbrales_Eficiencia', @level2type=N'COLUMN',@level2name=N'Umbral_Rojo_Max'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor máximo para mostrar amarillo (0-1, ej: 0.75 = 75%). Verde >= este valor' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Umbrales_Eficiencia', @level2type=N'COLUMN',@level2name=N'Umbral_Amarillo_Max'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena umbrales de color para indicadores de eficiencia por ubicación' , @level0type=N'SCHEMA',@level0name=N'SGA', @level1type=N'TABLE',@level1name=N'Umbrales_Eficiencia'
GO