USE [DataLakeSCCZ]
GO

-- =====================================================
-- ELIMINAR TABLAS (en orden inverso de dependencias)
-- =====================================================
IF OBJECT_ID('[SGA].[Trabajos_Preparacion_Consumos]', 'U') IS NOT NULL DROP TABLE [SGA].[Trabajos_Preparacion_Consumos]
GO
IF OBJECT_ID('[SGA].[Trabajos_Preparacion_Auditoria]', 'U') IS NOT NULL DROP TABLE [SGA].[Trabajos_Preparacion_Auditoria]
GO
IF OBJECT_ID('[SGA].[Trabajos_Preparacion_Lineas]', 'U') IS NOT NULL DROP TABLE [SGA].[Trabajos_Preparacion_Lineas]
GO
IF OBJECT_ID('[SGA].[Trabajos_Preparacion]', 'U') IS NOT NULL DROP TABLE [SGA].[Trabajos_Preparacion]
GO
IF OBJECT_ID('[SGA].[Umbrales_Eficiencia]', 'U') IS NOT NULL DROP TABLE [SGA].[Umbrales_Eficiencia]
GO
IF OBJECT_ID('[SGA].[PantallasSecciones]', 'U') IS NOT NULL DROP TABLE [SGA].[PantallasSecciones]
GO
IF OBJECT_ID('[SGA].[Paletizaciones]', 'U') IS NOT NULL DROP TABLE [SGA].[Paletizaciones]
GO
IF OBJECT_ID('[SGA].[Paquete]', 'U') IS NOT NULL 
BEGIN
    ALTER TABLE [SGA].[Paquete] SET (SYSTEM_VERSIONING = OFF)
    DROP TABLE [SGA].[Paquete]
END
GO
IF OBJECT_ID('[SGA].[Paquete_Historico]', 'U') IS NOT NULL DROP TABLE [SGA].[Paquete_Historico]
GO
IF OBJECT_ID('[SGA].[Contenedor]', 'U') IS NOT NULL 
BEGIN
    ALTER TABLE [SGA].[Contenedor] SET (SYSTEM_VERSIONING = OFF)
    DROP TABLE [SGA].[Contenedor]
END
GO
IF OBJECT_ID('[SGA].[Contenedor_Historico]', 'U') IS NOT NULL DROP TABLE [SGA].[Contenedor_Historico]
GO
IF OBJECT_ID('[SGA].[Ajustes]', 'U') IS NOT NULL DROP TABLE [SGA].[Ajustes]
GO

-- =====================================================
-- RECREAR TABLAS CON FK CORREGIDAS
-- =====================================================

/****** Table [SGA].[Contenedor_Historico] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Contenedor_Historico](
    [ID_Contenedor] [int] NOT NULL,
    [Peso_kg] [decimal](18, 2) NULL,
    [ID_tipo_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NULL,
    [Obsoleto] [bit] NOT NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [SysStartTime] [datetime2](7) NOT NULL,
    [SysEndTime] [datetime2](7) NOT NULL,
    [Descripcion_contenedor] [varchar](500) NULL,
    [Observacion_contenedor] [varchar](500) NULL
) ON [PRIMARY]
GO

/****** Table [SGA].[Contenedor] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Contenedor](
    [ID_Contenedor] [int] NOT NULL,
    [Peso_kg] [decimal](18, 2) NULL,
    [ID_tipo_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NULL,
    [Obsoleto] [bit] NOT NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
    [SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
    [Descripcion_contenedor] [varchar](500) NULL,
    [Observacion_contenedor] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Contenedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [SGA].[Contenedor_Historico])
)
GO

/****** Table [SGA].[Paquete_Historico] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Paquete_Historico](
    [ID_contenedor] [int] NULL,
    [ID_producto] [int] NOT NULL,
    [Cantidad_producto] [int] NOT NULL,
    [Peso_Kg] [decimal](18, 2) NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [Lote_Proveedor] [varchar](50) NULL,
    [Obsoleto] [bit] NOT NULL,
    [SysStartTime] [datetime2](7) NOT NULL,
    [SysEndTime] [datetime2](7) NOT NULL,
    [ID_paquete] [int] NOT NULL,
    [Descripcion_paquete] [varchar](500) NULL
) ON [PRIMARY]
GO

/****** Table [SGA].[Paquete] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Paquete](
    [ID_contenedor] [int] NULL,
    [ID_producto] [int] NOT NULL,
    [Cantidad_producto] [int] NOT NULL,
    [Peso_Kg] [decimal](18, 2) NULL,
    [Fecha_creacion] [datetime2](0) NOT NULL,
    [Fecha_modificacion] [datetime2](0) NULL,
    [ID_Usuario] [int] NOT NULL,
    [Lote_Proveedor] [varchar](50) NULL,
    [Obsoleto] [bit] NOT NULL,
    [SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
    [SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
    [ID_paquete] [int] IDENTITY(1,1) NOT NULL,
    [Descripcion_paquete] [varchar](500) NULL,
 CONSTRAINT [PK_SGA_Paquete] PRIMARY KEY CLUSTERED 
(
    [ID_paquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [SGA].[Paquete_Historico])
)
GO

/****** Table [SGA].[Ajustes] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Ajustes](
    [ID_ajuste] [int] IDENTITY(1,1) NOT NULL,
    [ID_Producto] [int] NOT NULL,
    [ID_Paquete] [int] NULL,
    [cantidad_ajustada] [decimal](18, 4) NOT NULL,
    [ID_Usuario] [int] NOT NULL,
    [Fecha] [datetime2](3) NOT NULL,
    [Descripcion_Ajuste] [nvarchar](500) NOT NULL,
    [Observacion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_ajuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[Paletizaciones] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Paletizaciones](
    [ID_paletizacion] [int] IDENTITY(1,1) NOT NULL,
    [ID_contenedor] [int] NOT NULL,
    [ID_ubicacion_origen] [int] NOT NULL,
    [Descripcion_origen] [nvarchar](255) NULL,
    [ID_ubicacion_destino] [int] NULL,
    [Descripcion_destino] [nvarchar](255) NULL,
    [Fecha_paletizacion] [datetime] NULL,
    [ID_usuario] [int] NULL,
    [ID_Paquete] [int] NULL,
    [ID_Producto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_paletizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[PantallasSecciones] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[PantallasSecciones](
    [PantallaSeccionID] [int] IDENTITY(1,1) NOT NULL,
    [PantallaID] [int] NOT NULL,
    [SeccionID] [int] NOT NULL,
    [Orden] [int] NOT NULL,
    [Visible] [bit] NOT NULL,
    [FechaAsignacion] [datetime] NOT NULL,
    [NombrePersonalizado] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
    [PantallaSeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGA_PantallasSecciones] UNIQUE NONCLUSTERED 
(
    [PantallaID] ASC,
    [SeccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[Trabajos_Preparacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion](
    [ID_trabajo] [int] IDENTITY(1,1) NOT NULL,
    [Fecha_maxima] [date] NOT NULL,
    [Descripcion] [nvarchar](500) NOT NULL,
    [Estado] [int] NOT NULL,
    [ID_usuario_creacion] [int] NULL,
    [Fecha_creacion] [datetime] NULL,
    [Fecha_actualizacion] [datetime] NULL,
    [Id_Secuenciador] [int] NULL,
    [Tipo] [varchar](20) NULL,
    [Nombre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[Trabajos_Preparacion_Lineas] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion_Lineas](
    [ID_linea] [int] IDENTITY(1,1) NOT NULL,
    [ID_trabajo] [int] NOT NULL,
    [Codigo_Producto] [nvarchar](50) NOT NULL,
    [Descripcion_Producto] [nvarchar](500) NULL,
    [Cantidad_requerida] [int] NOT NULL,
    [Ubicaciones_Fijas] [nvarchar](500) NULL,
    [Estado] [int] NOT NULL,
    [Fecha_creacion] [datetime] NULL,
    [Cantidad_consumida] [int] NOT NULL,
    [Fecha_confirmacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[Trabajos_Preparacion_Auditoria] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion_Auditoria](
    [ID_auditoria] [int] IDENTITY(1,1) NOT NULL,
    [ID_linea] [int] NOT NULL,
    [ID_trabajo] [int] NOT NULL,
    [ID_paquete] [int] NOT NULL,
    [ID_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NOT NULL,
    [Codigo_ubicacion] [nvarchar](50) NULL,
    [Cantidad_contenedor] [int] NULL,
    [Cantidad_confirmada] [int] NOT NULL,
    [Contenedor_eliminado] [bit] NULL,
    [ID_usuario_confirmacion] [int] NULL,
    [Nombre_usuario_confirmacion] [nvarchar](100) NULL,
    [Fecha_confirmacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[Trabajos_Preparacion_Consumos] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Trabajos_Preparacion_Consumos](
    [ID_consumo] [int] IDENTITY(1,1) NOT NULL,
    [ID_linea] [int] NOT NULL,
    [ID_trabajo] [int] NOT NULL,
    [ID_paquete] [int] NOT NULL,
    [ID_contenedor] [int] NOT NULL,
    [ID_ubicacion] [int] NOT NULL,
    [Codigo_ubicacion] [nvarchar](50) NULL,
    [Cantidad_paquete_original] [int] NOT NULL,
    [Cantidad_consumida] [int] NOT NULL,
    [Cantidad_paquete_restante] [int] NOT NULL,
    [Paquete_eliminado] [bit] NOT NULL,
    [Contenedor_eliminado] [bit] NOT NULL,
    [ID_usuario_confirmacion] [int] NULL,
    [Nombre_usuario_confirmacion] [nvarchar](100) NULL,
    [Fecha_confirmacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_consumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [SGA].[Umbrales_Eficiencia] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGA].[Umbrales_Eficiencia](
    [ID_Umbral] [int] IDENTITY(1,1) NOT NULL,
    [ID_Ubicacion] [int] NULL,
    [Tipo_Indicador] [nvarchar](50) NOT NULL,
    [Umbral_Rojo_Min] [decimal](5, 2) NULL,
    [Umbral_Rojo_Max] [decimal](5, 2) NOT NULL,
    [Umbral_Amarillo_Max] [decimal](5, 2) NOT NULL,
    [Fecha_Creacion] [datetime] NULL,
    [Fecha_Modificacion] [datetime] NULL,
    [Usuario_Modificacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
    [ID_Umbral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Umbral_Ubicacion_Tipo] UNIQUE NONCLUSTERED 
(
    [ID_Ubicacion] ASC,
    [Tipo_Indicador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =====================================================
-- AGREGAR DEFAULTS Y CLAVES FORÁNEAS
-- =====================================================

ALTER TABLE [SGA].[Ajustes] ADD  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [SGA].[Contenedor] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Contenedor] ADD  DEFAULT (sysutcdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [SGA].[Contenedor] ADD  DEFAULT (CONVERT([datetime2],'9999-12-31 23:59:59.9999999')) FOR [SysEndTime]
GO
ALTER TABLE [SGA].[Paletizaciones] ADD  DEFAULT (getdate()) FOR [Fecha_paletizacion]
GO
ALTER TABLE [SGA].[PantallasSecciones] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [SGA].[PantallasSecciones] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [SGA].[PantallasSecciones] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [SGA].[Paquete] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Paquete] ADD  CONSTRAINT [DF_Paquete_SysStartTime]  DEFAULT (sysutcdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [SGA].[Paquete] ADD  CONSTRAINT [DF_Paquete_SysEndTime]  DEFAULT (CONVERT([datetime2](7),'9999-12-31 23:59:59.9999999')) FOR [SysEndTime]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT (getdate()) FOR [Fecha_actualizacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] ADD  DEFAULT ('MANUAL') FOR [Tipo]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] ADD  DEFAULT ((0)) FOR [Contenedor_eliminado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha_confirmacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] ADD  DEFAULT ((0)) FOR [Paquete_eliminado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] ADD  DEFAULT ((0)) FOR [Contenedor_eliminado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] ADD  DEFAULT (getdate()) FOR [Fecha_confirmacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] ADD  DEFAULT (getdate()) FOR [Fecha_creacion]
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] ADD  DEFAULT ((0)) FOR [Cantidad_consumida]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] ADD  DEFAULT ((0)) FOR [Umbral_Rojo_Min]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] ADD  DEFAULT (getdate()) FOR [Fecha_Modificacion]
GO

-- =====================================================
-- AGREGAR CLAVES FORÁNEAS CORREGIDAS
-- =====================================================

ALTER TABLE [SGA].[Contenedor]  WITH CHECK ADD  CONSTRAINT [FK_Contenedor_Tipos_Contenedor] FOREIGN KEY([ID_tipo_contenedor])
REFERENCES [SGA].[Tipos_Contenedor] ([ID_tipo_contenedor])
GO
ALTER TABLE [SGA].[Contenedor] CHECK CONSTRAINT [FK_Contenedor_Tipos_Contenedor]
GO

ALTER TABLE [SGA].[Contenedor]  WITH CHECK ADD  CONSTRAINT [FK_Contenedor_Ubicacion] FOREIGN KEY([ID_ubicacion])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO
ALTER TABLE [SGA].[Contenedor] CHECK CONSTRAINT [FK_Contenedor_Ubicacion]
GO

ALTER TABLE [SGA].[Contenedor]  WITH CHECK ADD  CONSTRAINT [FK_Contenedor_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [DataLakeSCCZ].[OB].[Usuarios_CZ_hash] ([Id_Usuario])
GO
ALTER TABLE [SGA].[Contenedor] CHECK CONSTRAINT [FK_Contenedor_Usuario]
GO

ALTER TABLE [SGA].[Paletizaciones]  WITH CHECK ADD FOREIGN KEY([ID_contenedor])
REFERENCES [SGA].[Contenedor] ([ID_Contenedor])
GO

ALTER TABLE [SGA].[Paletizaciones]  WITH CHECK ADD FOREIGN KEY([ID_ubicacion_origen])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO

ALTER TABLE [SGA].[Paletizaciones]  WITH CHECK ADD FOREIGN KEY([ID_ubicacion_destino])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO

ALTER TABLE [SGA].[PantallasSecciones]  WITH CHECK ADD  CONSTRAINT [FK_SGA_PantallasSecciones_Pantallas] FOREIGN KEY([PantallaID])
REFERENCES [SGA].[Pantallas] ([PantallaID])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[PantallasSecciones] CHECK CONSTRAINT [FK_SGA_PantallasSecciones_Pantallas]
GO

ALTER TABLE [SGA].[PantallasSecciones]  WITH CHECK ADD  CONSTRAINT [FK_SGA_PantallasSecciones_Secciones] FOREIGN KEY([SeccionID])
REFERENCES [SGA].[MenuSecciones] ([SeccionID])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[PantallasSecciones] CHECK CONSTRAINT [FK_SGA_PantallasSecciones_Secciones]
GO

ALTER TABLE [SGA].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Contenedor] FOREIGN KEY([ID_contenedor])
REFERENCES [SGA].[Contenedor] ([ID_Contenedor])
GO
ALTER TABLE [SGA].[Paquete] CHECK CONSTRAINT [FK_Paquete_Contenedor]
GO

ALTER TABLE [SGA].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Producto] FOREIGN KEY([ID_producto])
REFERENCES [SGA].[Productos] ([ID_producto])
GO
ALTER TABLE [SGA].[Paquete] CHECK CONSTRAINT [FK_Paquete_Producto]
GO

ALTER TABLE [SGA].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [DataLakeSCCZ].[OB].[Usuarios_CZ_hash] ([Id_Usuario])
GO
ALTER TABLE [SGA].[Paquete] CHECK CONSTRAINT [FK_Paquete_Usuario]
GO

ALTER TABLE [SGA].[Trabajos_Preparacion]  WITH CHECK ADD  CONSTRAINT [FK_TrabajosPrep_Usuarios] FOREIGN KEY([ID_usuario_creacion])
REFERENCES [DataLakeSCCZ].[OB].[Usuarios_CZ_hash] ([Id_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [SGA].[Trabajos_Preparacion] CHECK CONSTRAINT [FK_TrabajosPrep_Usuarios]
GO

ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Linea] FOREIGN KEY([ID_linea])
REFERENCES [SGA].[Trabajos_Preparacion_Lineas] ([ID_linea])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] CHECK CONSTRAINT [FK_Auditoria_Linea]
GO

ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Trabajo] FOREIGN KEY([ID_trabajo])
REFERENCES [SGA].[Trabajos_Preparacion] ([ID_trabajo])
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Auditoria] CHECK CONSTRAINT [FK_Auditoria_Trabajo]
GO

ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Linea] FOREIGN KEY([ID_linea])
REFERENCES [SGA].[Trabajos_Preparacion_Lineas] ([ID_linea])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] CHECK CONSTRAINT [FK_Consumos_Linea]
GO

ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Trabajo] FOREIGN KEY([ID_trabajo])
REFERENCES [SGA].[Trabajos_Preparacion] ([ID_trabajo])
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Consumos] CHECK CONSTRAINT [FK_Consumos_Trabajo]
GO

ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas]  WITH CHECK ADD  CONSTRAINT [FK_LineasPrep_Trabajo] FOREIGN KEY([ID_trabajo])
REFERENCES [SGA].[Trabajos_Preparacion] ([ID_trabajo])
ON DELETE CASCADE
GO
ALTER TABLE [SGA].[Trabajos_Preparacion_Lineas] CHECK CONSTRAINT [FK_LineasPrep_Trabajo]
GO

ALTER TABLE [SGA].[Umbrales_Eficiencia]  WITH CHECK ADD  CONSTRAINT [FK_Umbrales_Ubicacion] FOREIGN KEY([ID_Ubicacion])
REFERENCES [SGA].[Ubicaciones_Propiedades] ([ID_ubicacion])
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] CHECK CONSTRAINT [FK_Umbrales_Ubicacion]
GO

ALTER TABLE [SGA].[Umbrales_Eficiencia]  WITH CHECK ADD  CONSTRAINT [FK_Umbrales_Usuario] FOREIGN KEY([Usuario_Modificacion])
REFERENCES [DataLakeSCCZ].[OB].[Usuarios_CZ_hash] ([Id_Usuario])
GO
ALTER TABLE [SGA].[Umbrales_Eficiencia] CHECK CONSTRAINT [FK_Umbrales_Usuario]
GO

-- =====================================================
-- CAMBIOS EN TABLAS EXISTENTES (sin borrar)
-- =====================================================

-- Cambiar FK en Contenedor_Historico si existe constraint anterior
IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Contenedor_Usuario_Old')
BEGIN
    ALTER TABLE [SGA].[Contenedor_Historico] DROP CONSTRAINT [FK_Contenedor_Usuario_Old]
END
GO

-- Cambiar FK en Paquete si existe constraint anterior
IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Paquete_Usuario_Old')
BEGIN
    ALTER TABLE [SGA].[Paquete] DROP CONSTRAINT [FK_Paquete_Usuario_Old]
END
GO

-- Cambiar FK en Trabajos_Preparacion si existe constraint anterior
IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_TrabajosPrep_Usuarios_Old')
BEGIN
    ALTER TABLE [SGA].[Trabajos_Preparacion] DROP CONSTRAINT [FK_TrabajosPrep_Usuarios_Old]
END
GO

-- Cambiar FK en Umbrales_Eficiencia si existe constraint anterior
IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Umbrales_Usuario_Old')
BEGIN
    ALTER TABLE [SGA].[Umbrales_Eficiencia] DROP CONSTRAINT [FK_Umbrales_Usuario_Old]
END
GO

PRINT 'Script ejecutado correctamente. Todas las tablas han sido recreadas con las FK corregidas.'
GO