<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Presupuestos{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Logo_EMESA.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ofertas.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginModal.css') }}" />
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', filename='js/globalHeader.js') }}" data-title="{% block app_header_title %}Presupuestos{% endblock %}"></script>
  <script src="{{ url_for('static', filename='js/navigationManager.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ofertas.js') }}"></script>
</body>
</html>
